{% extends 'PrestaShopBundle:Admin/Sell/Catalog/Categories:edit.html.twig' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col">
        {% include '@PrestaShop/Admin/Sell/Catalog/Categories/Blocks/form.html.twig' with {
            'categoryForm': editCategoryForm,
            'thumbnailImage': editableCategory.thumbnailImage,
            'coverImage': editableCategory.coverImage,
            'banner': editCategoryForm.banner,
            'hover': editCategoryForm.hover,
            'menuThumbnailImages': editableCategory.menuThumbnailImages,
        } %}
    </div>
  </div>
{% endblock %}